* {
    box-sizing: border-box;
}

body {
    background: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: #fff;
}

.fill {
    background: url('img/bg1.jpg');
    height: 145px;
    width: 145px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hold {
    border: 5px solid #ccc;
}

.hovered {
    background: #333;
    border-color: #fff;
    border-style: dashed;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}