@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.heading {
    font-size: 4rem;
    color: white;
    text-shadow: 0 0 5px black;
}

.btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    padding: 10px 25px;
    margin-top: 20px;
}

.container {
    display: flex;
}

.left {
    background: url('images/Razer-blade-pro-17.webp') no-repeat scroll center;
    background-size: cover;
    width: 50%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

.left-wrapper {
    background-color: rgba(71, 225, 12, 0.5);
    height: 100%;
}

.right {
    background: url('images/lg_gram_14.jpg') no-repeat scroll center;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

.right-wrapper {
    background-color: rgba(141, 141, 141, 0.5);
    height: 100%;
}

.left-content, .right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.left:hover {
    width: 90%;
}

.right:hover {
    width: 90%;
}

.btn:hover {
    color: black;
    background: #fff;
    font-weight: bold;
}